In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.shape

(32561, 15)

In [8]:
df = df.sample(frac=1)

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
23110,35,Private,381583,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Other,Male,0,0,45,United-States,>50K
24679,31,Private,209101,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,>50K
7302,19,Private,144161,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,30,United-States,<=50K
24646,35,Private,144608,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
27295,36,Private,549174,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
1873,32,State-gov,171111,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,37,United-States,<=50K
29873,43,Self-emp-not-inc,116666,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,0,0,35,United-States,>50K
23839,36,Private,225516,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,10520,0,43,United-States,>50K
1574,49,?,261059,10th,6,Separated,?,Own-child,White,Male,2176,0,40,United-States,<=50K
29070,36,Private,98515,Assoc-voc,11,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
16485,38,State-gov,312528,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,37,United-States,<=50K
13464,45,Private,162915,Some-college,10,Divorced,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
32172,36,Private,54229,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,37,United-States,<=50K
26925,27,Private,279608,5th-6th,3,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,<=50K
23488,40,Private,283174,Assoc-voc,11,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,<=50K
10954,68,Local-gov,177596,10th,6,Separated,Other-service,Not-in-family,Black,Female,0,0,90,United-States,<=50K
16791,26,State-gov,152457,HS-grad,9,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
24909,32,Private,232855,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Female,0,0,40,United-States,<=50K
17112,46,Private,198774,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,323,45,United-States,<=50K
17123,46,Private,116666,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
26755,23,Private,265356,Bachelors,13,Never-married,Exec-managerial,Unmarried,White,Male,0,0,40,United-States,<=50K
24007,25,Private,469572,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,8614,0,40,United-States,>50K
7060,46,Federal-gov,297906,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
8800,36,Local-gov,247807,Assoc-voc,11,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,>50K
18571,53,Private,89587,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,7298,0,45,United-States,>50K
2436,31,State-gov,151763,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,25,United-States,<=50K
13225,22,Private,60331,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K
27590,36,?,98776,Some-college,10,Never-married,?,Not-in-family,White,Male,0,0,30,United-States,<=50K
32462,48,Self-emp-inc,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,United-States,>50K
21730,17,Private,202344,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30792,42,Private,33126,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
31714,43,Private,169628,Bachelors,13,Never-married,Sales,Unmarried,Black,Female,0,0,35,United-States,>50K
7236,40,Private,204046,10th,6,Divorced,Transport-moving,Own-child,White,Male,0,0,40,United-States,<=50K
22032,26,Private,104834,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,1669,40,United-States,<=50K
13156,34,Private,346275,11th,7,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,43,United-States,<=50K
3765,55,Private,171780,Assoc-acdm,12,Divorced,Sales,Unmarried,Black,Female,0,0,30,United-States,<=50K
30892,52,Private,222646,12th,8,Separated,Machine-op-inspct,Other-relative,White,Female,0,0,40,Cuba,<=50K
16105,32,State-gov,177216,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
12298,28,Private,66473,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
3988,52,Private,192390,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
21773,23,Private,343019,10th,6,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
3146,32,?,199244,10th,6,Divorced,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
23425,35,Private,126675,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
21929,42,Private,144002,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,50,United-States,<=50K
12079,26,Private,245465,Assoc-acdm,12,Never-married,Sales,Own-child,White,Male,0,0,30,United-States,<=50K
30715,31,Private,129775,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,65,United-States,<=50K
25515,20,Private,388156,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,24,United-States,<=50K
19717,39,Self-emp-not-inc,163204,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
6111,39,Private,91711,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32387,20,Private,176321,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Female,0,0,20,United-States,<=50K
31710,64,?,34100,Some-college,10,Widowed,?,Not-in-family,White,Male,0,0,4,United-States,<=50K
1426,45,Self-emp-inc,36228,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,4386,0,35,United-States,>50K
8370,56,Self-emp-inc,35723,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
17169,40,Private,374367,Assoc-voc,11,Separated,Sales,Not-in-family,Black,Male,0,0,44,United-States,<=50K
27371,47,Private,423222,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
15837,47,Private,343579,1st-4th,2,Married-spouse-absent,Farming-fishing,Not-in-family,White,Male,0,0,12,Mexico,<=50K
28783,68,?,270339,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
30236,23,State-gov,314645,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,25,United-States,<=50K
31213,23,Private,129345,Some-college,10,Never-married,Other-service,Not-in-family,White,Male,0,0,25,United-States,<=50K

In [11]:
len(df) * 0.8

26048.800000000003

In [14]:
train = df[:26048]

In [15]:
test = df[26048:]

In [17]:
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
23110,35,Private,381583,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Other,Male,0,0,45,United-States,>50K
24679,31,Private,209101,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,>50K
7302,19,Private,144161,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,30,United-States,<=50K
24646,35,Private,144608,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
27295,36,Private,549174,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K

In [19]:
train.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [21]:
train.columns = train.columns.str.lstrip()

In [22]:
test.columns = test.columns.str.lstrip()

In [23]:
X_train = train.drop('income', axis=1)

In [24]:
X_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
23110,35,Private,381583,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Other,Male,0,0,45,United-States
24679,31,Private,209101,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States
7302,19,Private,144161,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,30,United-States
24646,35,Private,144608,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
27295,36,Private,549174,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States

In [25]:
y_train = train.income

In [26]:
y_train

23110      >50K
24679      >50K
7302      <=50K
24646     <=50K
27295     <=50K
1873      <=50K
29873      >50K
23839      >50K
1574      <=50K
29070     <=50K
16485     <=50K
13464     <=50K
32172     <=50K
26925     <=50K
23488     <=50K
10954     <=50K
16791     <=50K
24909     <=50K
17112     <=50K
17123     <=50K
26755     <=50K
24007      >50K
7060       >50K
8800       >50K
18571      >50K
2436      <=50K
13225     <=50K
27590     <=50K
32462      >50K
21730     <=50K
          ...
27596      >50K
28675      >50K
2417      <=50K
9853      <=50K
19928     <=50K
2792      <=50K
2784      <=50K
27376     <=50K
25344     <=50K
30270     <=50K
24886     <=50K
28145     <=50K
25141      >50K
19834     <=50K
28083     <=50K
177       <=50K
25895     <=50K
18511      >50K
585       <=50K
24229      >50K
28746      >50K
20508     <=50K
21976      >50K
21951     <=50K
9444      <=50K
30440     <=50K
28779     <=50K
27428      >50K
6923      <=50K
23965      >50K
Name: income, Length: 26048, dtype: object

In [28]:
X_test = test.drop('income', axis='columns')

In [30]:
y_test = test.income

# Using sklearn's train_test_split

In [32]:
d = pd.read_csv('data/income_evaluation.csv')
d.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
X = d.drop(' income', axis=1)
y = d[' income']

In [38]:
X1, X2, y1, y2 = train_test_split(X, y, test_size=0.2, random_state=0, stratify=y)

In [48]:
X1, X2, y1, y2 = train_test_split(X, y, test_size=0.2, random_state=0)
print(y1.value_counts())
print(y2.value_counts())

 <=50K    19802
 >50K      6246
Name:  income, dtype: int64
 <=50K    4918
 >50K     1595
Name:  income, dtype: int64

In [49]:
6246/19802

0.3154226845773154

In [50]:
1595/4918

0.3243188287921919

In [43]:
y1.value_counts()

 <=50K    19775
 >50K      6273
Name:  income, dtype: int64

In [45]:
6273/19775

0.3172187104930468

In [44]:
y2.value_counts()

 <=50K    4945
 >50K     1568
Name:  income, dtype: int64

In [46]:
1568/4945

0.3170879676440849

In [39]:
X1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
29101,19,?,140399,Some-college,10,Never-married,?,Other-relative,White,Female,0,0,30,United-States
10606,50,Private,158284,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
9414,62,Private,183735,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
1747,20,Private,154781,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
10677,25,Private,356344,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States
14370,22,?,189203,Assoc-acdm,12,Never-married,?,Other-relative,White,Male,0,0,15,United-States
19403,21,Private,175374,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States
23351,24,?,172152,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Male,0,0,25,Taiwan
14405,52,Private,31533,HS-grad,9,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States
29604,30,Private,329425,Some-college,10,Never-married,Protective-serv,Own-child,White,Male,0,0,48,United-States
4472,46,Private,117502,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India
19236,17,Private,225106,10th,6,Never-married,Other-service,Own-child,White,Female,0,1602,18,United-States
9371,23,Private,239539,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,40,Philippines
29747,41,Self-emp-not-inc,44006,Assoc-voc,11,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States
29635,37,Private,171150,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,99999,0,60,United-States
32025,50,Private,139703,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
25351,55,Private,189528,5th-6th,3,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States
2608,23,Private,203240,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States
25534,45,Self-emp-not-inc,118081,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,3103,0,42,United-States
26396,36,Private,272944,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States
6415,49,Federal-gov,311671,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
14691,29,Private,375078,7th-8th,4,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Mexico
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States
30079,36,Private,33394,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,1887,35,United-States
3113,44,Private,198316,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States
1113,69,Private,168139,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States
3100,39,Private,278187,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
22983,56,?,32604,Some-college,10,Never-married,?,Not-in-family,Black,Female,0,0,40,United-States
32405,33,Private,168387,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18757,36,Private,301227,5th-6th,3,Separated,Priv-house-serv,Unmarried,Other,Female,0,0,35,Mexico
28685,36,Private,172129,9th,5,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
31771,26,Private,31143,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
13176,43,Private,149909,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States
25927,25,Private,255474,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
18111,55,Private,98746,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,Canada
12913,45,Private,77927,Bachelors,13,Widowed,Other-service,Own-child,Asian-Pac-Islander,Female,0,0,40,Philippines
13386,32,Self-emp-not-inc,203408,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,44,United-States
17911,32,Private,222654,10th,6,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States
13111,50,Self-emp-not-inc,219420,Doctorate,16,Divorced,Sales,Not-in-family,White,Male,0,0,64,United-States
5644,48,Private,265083,10th,6,Divorced,Sales,Not-in-family,White,Female,0,0,38,United-States
15809,58,Self-emp-not-inc,143731,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,72,United-States
19888,21,Private,353628,10th,6,Separated,Sales,Unmarried,Black,Female,0,0,38,United-States
7327,53,State-gov,104501,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?
24907,28,Private,130067,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States
24777,59,Private,121865,HS-grad,9,Divorced,Other-service,Not-in-family,Black,Female,0,0,40,United-States
9488,38,Private,129591,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
5701,56,Private,286487,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,2885,0,45,United-States
1559,21,Private,236684,Some-college,10,Never-married,Other-service,Other-relative,Black,Female,0,0,8,United-States
18120,20,Private,109952,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,25,United-States
15359,48,Private,299291,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,44,United-States
592,60,Private,39352,7th-8th,4,Never-married,Transport-moving,Not-in-family,White,Male,0,0,48,United-States
25149,33,Private,224258,7th-8th,4,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,Mexico
23373,17,?,806316,11th,7,Never-married,?,Own-child,White,Female,0,0,20,United-States
22972,47,Private,112791,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
11465,49,Private,278322,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
15326,32,Local-gov,223267,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,48,United-States
284,21,Private,205759,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States
13784,73,?,191394,Prof-school,15,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States
10618,53,Private,311350,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States